= render 'layouts/header'

.fv__section
  .text__container
  .main__copy 
    プログラミング学習を始めるあなたに
  .fv__text 
    受講生の生の声を
  .cat__btn

.card__section
  .card__section--title
    スクール紹介
  %ul.card__list
    %li.card__list--item
      .card__list--img
      = image_tag '', alt: 'スクール画像1', width: '320px'
      %h3 株式会社div
      .card__list--text
      TECH::EXPERT
    %li.card__list--item
      .card__list--img
      = image_tag 'codecamp.png', alt: 'スクール画像1', width: '320px'
      %h3 コードキャンプ株式会社
      .card__list--text
      CodeCamp
      .card__list--text
    %li.card__list--item
      .card__list--img
      = image_tag 'DMM.png', alt: 'スクール画像1', width: '320px'
      %h3 株式会社インフラトップ / Infratop Inc.
      .card__list--text
      DMM WEBCAMP