= @school.school_name
-# - @post.each do |post|
  -# = @post.admission
  -# = @post.merit
  -# = @post.demerit
  -# = @post.gap
  -# = @post.curriculum_quality
  -# = @post.cost
  -# = @post.out_of_learning
  -# = @post.employment