.footer {
  line-height: 60px;
  text-align: center;
  background-color:black;
  color:white;
  // position: fixed;
  bottom: 0;
  width: 100%;
  &__contents{
  margin:0 50px;
  display: flex;
  justify-content: space-between;
  }
}

.footer__text{
  color:white;
}

@media screen and (max-width: 959px) {
  .footer {
    width: 956px;
  }
}
@media screen and(max-width: 559px ) {
  .footer {
    width: 378px!important;
    margin-top: 671px;
  }
  .footer__contents--list {
    font-size: 12px;
  
  }
}