a{
  text-decoration: none;
}
.header{
  height: 80px;
  width: 100%;
  background-color:black;
  display: flex;
  justify-content: space-between;
  z-index:1;
  &__right--btn{
    height:100%;
    display:flex;
    margin:25px 100px 0 0;
    a{
      margin-left:40px;
      color:white;
    }
  }
  &__title{
    font-size: 30px;
    line-height: 60px;
  &--text{
    text-decoration: none;
    color:white;
    margin-left:15px;
    font-weight:bold;
    }
  }
}