.inquiry{
  width:100%;
  height: 100vh;
  overflow: scroll;
  &__contents{
    width:600px;
    height:100%;
    margin:0 auto;
  &--name{
    border-bottom:1px dashed;
    margin:0 100px;
  }
  &--title{
    width:100%;
    height: 50px;
    text-align: center;
    margin:50px 0 0;
    padding: 10px 0 0;
    border-bottom:1px dashed;
    h1{
      text-align: center;
      font-size:20px;
      font-weight: bold;
    }
  }
  &--btn{
    margin:50px 100px;
    }
  }
}
.btn-flat-border {

  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #67c5ff;
  border: solid 2px #67c5ff;
  border-radius: 3px;
  transition: .4s;
  width:200px;
}

.btn-flat-border:hover {
  background: #67c5ff;
  color: white;
}
.alert{
  margin: 20px 0 0;
  color:red;
}

.form {
  width: 400px;
  margin: 30px 0;
  text-align: left;
  font-size:14px;
  &__label {
  font-weight: bold;
  font-size:20px;
  }
  &__require {
    background: #ea352d;
    margin: 0 8px;
    padding: 2px 4px;
    border-radius: 2px;
    color: #fff;
    font-size: 20px;
  }
}

.input-box{
  width: 300px;
  height: 30px;
  &__message{
  width: 100%;
  height: 300px;
  }
}
