.new-post-main {
  background-color: white;
  text-align: center;
  width:100%;
  overflow:scroll;
  &__center {
    width: 700px;
    // height: 100vh;
    margin: auto;

    &__head {
      height: 97px;
      text-align: center;
      line-height: 97px;
      font-size: 22px;
      font-weight: bold;
      background-color: black;
      color: white;
      margin: 100px;
    }

    &__post{
      padding: 40px;
      border-top: 1px solid #eee;
      &__select{
        width: 290px;
        height: 48px;
      }
      &--flex {
        display: flex;
        justify-content: flex-start;
    
        &__title {
          font-size: 14px;
          font-weight: bold;
        }
        &__necessary {
          padding: 1px 2px;
          margin-left: 8px;
          background-color: red;
          color: white;
          font-size: 12px;
        }

      }

      &__text-area {
        width: 100%;
        height: 142px;
        padding: 10px;
        margin-top: 8px;
      }
    }

    &__bottom {
    height: 329px;
    padding: 40px;
    border-top: 1px solid #eee;
    &__submit-btn {
      width: 200px;
      height: 50px;
      margin-top: 10px;
      background-color: black;
      color: white;
    }
    &__back-btn {
      width: 200px;
      height: 50px;
      padding: 0;
      margin: 24px 170.5px ;
      font-size: 14px;
      color: white;
      background-color: #AAAAAA;
      }
    }
  }
}
@media screen and (max-width: 959px) {

}
@media screen and(max-width: 559px) {
  .new-post-main {
    width: 350px;
    text-align: center;
    overflow-x: hidden;
  }
  .new-post-main__center {
    width: 100%;
  }
  .new-post-main__center__head {
    width: 250px;
    margin: 100px;
    position: relative;
    right: 40px;
  }
  .new-post-main__center__bottom__back-btn {
    margin: 10px auto;
  }
  .new-post-main__center__post__select{
    width: 290px;
    height: 48px;
    border: 1px solid;
  }
  .new-post-main__center__post__text-area{
    width: 100%;
    height: 142px;
    padding: 10px;
    margin-top: 8px;
    border: 1px solid black;
  }
  .footer {
    margin: auto;
  }
}
