.new-user-main__box {
  width: 1000px;
  margin: 0 auto;
  padding: 0 0 190px;
  // height: 100vh;
  padding-top: 140px;
}
.new-user-main__box__title {
  font-size: 20px;
  font-weight: normal;
  
}
.new-user-main__box__contents {
  overflow: hidden;
  margin-top: 50px;
  display: table-row;
  vertical-align: middle;
  border-color: inherit;
}
.field {
  border-collapse: collapse;
  border:1px solid #d6dfe5;
  height: 57px;

}
.age {
  width: 30px;
}
#user_prefecture {
  font-size: 14px;
  padding: 4px 20px 4px 10px;
  height: 23px;
}
.right {
  border-right: 1px solid #d6dfe5;
}
table {
  width: 1000px;
}
td {
  padding: 20px 30px;
}
.button {
  text-align: center;
  margin-top: 20px;
}
.next-btn {
width: 300px;
height: 50px;
background-color: #1b7fbe;
color: white;
margin-left: 350px;
margin-top: 25px;
border-radius: 4px;
cursor: pointer;
}
.next-btn:hover {
  background-color: pink;
}

@media screen and(max-width: 559px ) {
  table {
    width: 10px;
  }
  .button {
    width: 300px;
    margin-left: 30px;
  }
  .next-btn {
    margin-left: 35px;
  }
  .field {
    width: 3000px;
  }
}