.header
  .header__title
    = link_to "word-of-mouth", root_path, class: "header__title--text"
  .header__right
    .header__right--btn
      = link_to "マイページ"
      = link_to "新規登録"
      = link_to "ログアウト", method: :delete

